doctype html
html
	head
		title ¡El mejor lugar del mundo!
		meta(charset='utf-8')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
		link(href='css/animate.css', rel='stylesheet', type='text/css')
	body
		section#main-content.full-height.text-center
			.data
				.col-md-3.center-block.no-float.top-space
					img.animated.fadeIn(src='imgs/icecream.png')
					h1.pacifico.big.green.animated.fadeIn.delay-1  Food Facilito 
					.animated.fadeInDown.delay-2  
						h2 Ven, convive, diviértete.
						nav
							a.right-space(href='/menu') Menú
							a.right-space(href='contacto.html') Contacto
							a.right-space(href='') Acerca de
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='js/main.js')
